{% extends 'home/notas.html' %} {% load static %} {% block content1 %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/style_2.css' %}" />
    <title>Form Delete Nota</title>
</head>
{% endblock %} {% block content2 %}
<div class="container">
    <div class="row">
        <div class="col-sm" id="card">
            <div class="card text-white bg-dark mb-3" id="contentCard">
                <form action="" method="POST" id="delete" class="input-group">
                    {% csrf_token %}
                    <div class="card-header" id="titulocard">{{nota.titulo}}</div>
                    <div class="card-header" id="fecha">{{nota.fecha}}</div>
                    {{nota.color}}
                    {{nota.descripcion}}
                    <div class="card-body" id="fondo" onclick="changeColor()">
                        <div id="color">
                            <p>
                                Color:
                                <input name="MyColorPicker" type="color" id="MyColorPicker" />
                            </p>
                        </div>
                        <p class="card-text" id="texto"></p>
                        <div id="elementId" onclick="fn_name()">
                            <div id="Myelement" onclick="changeColor()"></div>
                        </div>
                        <div id="buttons">
                            <button type="submit" class="submit-btn">DELETE</button>
                </form>
                <a href="{% url 'home' %}" class="btn btn-danger active" role="button" aria-pressed="true">Cancel</a>
                <!-- <input
                  type="checkbox"
                  id="vehicle1"
                  name="vehicle1"
                  value="Bike"
                />
                <label for="vehicle1">Hecho: {{nota.check}}</label><br /> -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}