{% extends 'login/index.html' %}
<!DOCTYPE html>
{% load static %} {% block cabeza %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'css/style_2.css' %}" />
  <title>Form Change Email</title>
</head>
{% endblock %} {% block cuerpo %}

<body>
  <section class="form-new-email">
    <h4>Change Email</h4>
    <form action="" method="POST" id="change-email" class="input-group">
      {% csrf_token %}
      {{User.email}}
      {{User.email2}}
      {{User.email3}}
      <button type="submit" class="submit-btn">Save</button>
    </form>
    <div class="clearfix-padding">
      <form action="{% url 'home' %}" method="POST" id="Change_email" class="input-group1">
        {% csrf_token %}
        <button type="submit" class="submit-btn">Home</button>
      </form>
    </div>
  </section>
</body>

</html>
{% endblock %}