{% extends 'login/index.html' %}
<!DOCTYPE html>
{% load static %} {% block cabeza %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/style_2.css' %}" />
    <title>Form Change Username</title>
</head>
{% endblock %} {% block cuerpo %}

<body>
    <section class="form-new-pass">
        <h4>Change Username</h4>
        <form action="" method="POST" id="change-username" class="input-group">
            {% csrf_token %}
            {{User.username}}
            {{User.username2}}
            {{User.username3}}
            <button type="submit" class="submit-btn">Save</button>
        </form>
        <div class="clearfix-padding">
            {% csrf_token %}
            <form action="{% url 'home' %}" method="POST" id="Change_username" class="input-group1">
                <button type="submit" class="submit-btn">Home</button>
            </form>
        </div>
    </section>
</body>

</html>
{% endblock %}