{% extends 'login/index.html' %}
<!DOCTYPE html>
{% load static %} {% block cabeza %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'css/style_1.css' %}" />
  <title>Form Change Email</title>
</head>
{% endblock %} {% block cuerpo %}

<body>
  <form action="{% url 'home' %}" method="POST" id="changePass">
    {% csrf_token %}
    <section class="form-new-email">
      <h4>Change Email</h4>
      <input class="controls" type="email" name="correo" id="correo" placeholder="Enter current email" />
      <input class="controls" type="email" name="correo2" id="correo2" placeholder="Enter the new email" />
      <input class="controls" type="email" name="correo3" id="correo3" placeholder="Repeat the new email" />
      <button type="submit" class="submit-btn">Save</button>
    </section>
    <button type="submit" class="submit-btn">Back</button>
  </form>
</body>

</html>
{% endblock %}