<!DOCTYPE html>
{% load static %}
<!-- Esto va así, lo del video está outdated -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin&amp;display=swap"
      rel="stylesheet"
    />
    <title>Login and Registration - PostIt</title>
  </head>
  <body>
    <div class="container">
      <div id="form-box" class="form-box">
        <h1 id="title">PostIT</h1>
        <div class="button-box">
          <div id="btn"></div>
          <!--
                    Para arreglar lo de los botones debería crear una id para cada boton 
                    y hacer el styling de modo individual
                -->
          <button
            id="login-btn"
            type="button"
            class="toogle-btn"
            onclick="login()"
          >
            Ingresar
          </button>
          <button
            id="register-btn"
            type="button"
            class="toogle-btn"
            onclick="register()"
          >
            Registrarme
          </button>
        </div>

        <form method="POST" id="login" class="input-group">
          {% csrf_token %} {{log_in.username}} {{log_in.password}}
          <button type="submit" class="submit-btn">Ingresar a mi cuenta</button>
        </form>
        <form action="" method="POST" id="register" class="input-group">
          {% csrf_token %} {{newUser.username}}
          {{newUser.email}}{{newUser.password1}}{{newUser.password2}}
          <button type="submit" class="submit-btn">Completar registro</button>
        </form>
      </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
